* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(255, 145, 0);
  display: flex;
  width:100%;
  height: 200vh;
}

.pageWrap{
  position:fixed;
  left:0;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width:100%;
  height: 100%;
  border: 1px solid black;
}

.centralFigureWrap{
  /* width:30vw; */
  width:100%;
  height: 30vw;
  /* border: 1px solid blue; */
  background-image: url(./pics/BartoszNowicki.png);  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cloudWrap1, .cloudWrap2, .cloudWrap3, .cloudWrap4, .cloudWrap5, .cloudWrap6, .cloudWrap7, .cloudWrap8 {
  position: fixed;
  width:10vw;
  height: 10vw;
  background-image: url(./pics/thoughtCloud.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 1px solid rgb(131, 131, 238); */
}

.cloudWrap1{
  top:15vh;
  left: 5vw;
  transform: rotate(0deg) scaleX(-1);  
}

.cloudWrap2{
  top:15vh;
  left: 15vw;
  transform: rotate(0deg) scaleX(-1); 
}

.cloudWrap3{
  top:15vh;
  left: 25vw;
  transform: rotate(0deg) scaleX(-1);
}

.cloudWrap4{
  top:15vh;
  left: 35vw;
  transform: rotate(0deg) scaleX(-1);
}

.cloudWrap5{
  top:15vh;
  left: 55vw;
}

.cloudWrap6{
  top:15vh;
  left: 65vw;
}

.cloudWrap7{
  top:15vh;
  left: 75vw;
}

.cloudWrap8{
  top:15vh;
  left: 85vw;
}

.cloudLogoClass1, .cloudLogoClass2, .cloudLogoClass3, .cloudLogoClass4, .cloudLogoClass5, .cloudLogoClass6, .cloudLogoClass7, .cloudLogoClass8 {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  
   /* border: 2px solid red; */
}

.cloudLogoClass1, .cloudLogoClass2, .cloudLogoClass3, .cloudLogoClass4{
  width: 20%;
  transform: translate(-50%, -50%) scaleX(-1);
}

.cloudLogoClass2, .cloudLogoClass4 {
  width: 30%;
}

.cloudLogoClass5, .cloudLogoClass6, .cloudLogoClass7{
  width: 40%;
}

.introAnimation{
  color: red;
  width: 200vw;
  /* width: 100%; */
  border: 1px solid black;
}
