* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for Bartosz Nowicki */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* for JUNIOR below, into css add font-family: 'Anton', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');  
/* for my name is, into css: font-family: 'Coda Caption', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
/* for code script, into css: font-family: 'VT323', monospace; */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* for all other purposes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */

/* ORIG PONIŻEJ */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
