@import '_reset';
@import '_variables';

/* div::selection {} */

a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  outline-style: none;
  /* border: 10px solid red; */
  border: none;
}

body{
  background-color: $color-body-primary;
  display: flex;
  width:100%;
  height: 100%;
}

.pageWrap{
  position:fixed;
  left:0;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  /* border: 1px solid black; */
}

.mobileSwipe{
  position: fixed;
  left:0;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  /* border: 1px solid black; */
  background-color: $color-body-primary;
  background-image: url(../pics/swipe.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index:99;
  @media screen and (max-width: map-get($breakpoints, sm)) {
    display: none;
}
}

.apiFriends {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: center;
  bottom: 1vmin;
  left: 1vmin;
  width: 60vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 7px 7px 0px 0px; 
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(173, 2, 2, 0.5);
  z-index: 1;
  @media only screen and (orientation: landscape) {
    width: 20vw;
    }
  @media screen and (min-width: map-get($breakpoints, lg)) {
      &:hover {
        background-color: rgba(216, 15, 15, 0.5);
       }
  }  
}


.apiFriends:hover .updateIcon {
  background-color: rgba(216, 15, 15, 0.5);
}

.apiFriendsHeader {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-color: yellowgreen;
  /* padding: 1vmin; */
  border-radius: 7px 7px 0px 0px;
  border: 1px solid blue;
}

.apiFriendsHeader p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 3vmin;
  text-transform: uppercase;
  /* line-height: 5vmin; */
  width: 100%;
  color: rgba(0, 0, 133, 0.8);
  padding: 2px 3px;
  text-align: center;
  /* border: 1px solid red; */
}

.updateIcon {
  /* dimentions are close to lineHeight in that spot */
  width: 7vmin;
  height: 7vmin;
  padding: 1vmin;
  margin-bottom: 1vmin;
  /* border: 1px solid red; */
  border-radius: 50%;
}

.faceImg {
  display: flex;
  width: 8vmin;
  border-radius: 7px;
  margin: 3px;
  @media screen and (max-width: map-get($breakpoints, sm)) {
    margin: 2px;
  }
}

.centralFigureWrap{
  /* relative for the bow-tie */
  position: relative;
  width:15vh;
  height: 15vh;
  background-image: url(../pics/BartoszNowicki.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.5s;
  @media screen and (min-width: map-get($breakpoints, lg)) {
    &:hover {
      transform: translate(0, 20%);
     }
  }
  /* border: 1px solid blue; */
}


.centralFigureBowtieWrap{
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  /* border: 1px solid blue; */
  background-image: url(../pics/bow-tie.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 2vh 2vh 3vh 2vh;
  box-sizing: content-box;
  background-color: blueviolet;
  animation: rotatingLoader;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 50%;
}

.mainSectionWrap{
  /* width: 80vw; */
  width: auto;
  height: 70vh;
  /* border: 3px solid pink; */
}

.large {
  font-size: 4vmin;
}

.small {
  font-size: 2vmin;
  text-align: center;
}

.contactIcon{
  position: fixed;
  bottom: calc(1vw + 12vh + 1vw); 
  right: 1vw;
  width: 11vh;
  height: 11vh;
  background-image: url(../pics/contacts.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s ease;
  border-radius: 10px; 
  @media screen and (min-width: map-get($breakpoints, lg)) {
    &:hover{
      transform: scale(1,1) translate(-5px, -5px);
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.houseIcon{
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  width: 10vh;
  height: 10vh;
  background-image: url(../pics/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 130%;
  transition: 0.3s ease;
  border-radius: 10px;
  @media screen and (min-width: map-get($breakpoints, lg)) {
    &:hover {
      transform: scale(1,1) translate(-5px, -5px);
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.2);
     }
  }
}

.phoneIcon{
  width: 8vh;
  height: 8vh;
  background-image: url(../pics/phone.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1vmax; 
  transition: 0.3s ease;
  border-radius: 10px; 
  /* border: 1px solid black; */
}

.astro{
  width: 30vh;
  height: 30vh;
  background-image: url(../pics/astro.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* border: 1px solid black; */
}

.contactDetails {
  font-size: 2vh;
  white-space: nowrap;
}

.writeIcon{
  width: 8vh;
  height: 8vh;
  background-image: url(../pics/write.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* border: 1px solid red; */
}

.cloudsCloseBtn{
position: fixed;
top: 20vw;
right: 1vw;
width: 10vh;
height: 10vh;
background-image: url(../pics/thoughtCloudRight.svg);
background-repeat: no-repeat;
background-size: contain;
transition: 0.3s ease;
border-radius: 10px; 
/* border: 1px solid red; */
@media screen and (min-width: map-get($breakpoints, lg)) {
  &:hover { 
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
}

.cloudsCloseBtnImg{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 32%;
  right: 20%;
  width: 30%;
  height: 30%;
}

.cloudWrap1, .cloudWrap2, .cloudWrap3, .cloudWrap4 {
background-image: url(../pics/thoughtCloudRight.svg);
background-repeat: no-repeat;
background-size: contain;
}

.cloudWrap5, .cloudWrap6, .cloudWrap7, .cloudWrap8{
  background-image: url(../pics/thoughtCloudLeft.svg);
  background-repeat: no-repeat;
  background-size: contain;  
}

.cloudWrap1, .cloudWrap2, .cloudWrap3, .cloudWrap4, .cloudWrap5, .cloudWrap6, .cloudWrap7, .cloudWrap8 {
  position: fixed;
  top:2vh;
  width:15vw;
  height: 15vw;
  animation-name: cloudBump;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  /* border: 1px solid rgb(131, 131, 238); */
  transition: 0.5s;
    @media screen and (min-width: map-get($breakpoints, lg)) {
    &:hover {
      transform: translate(0, 20%);
     }
  }

}

.activeCloud1, .activeCloud2,.activeCloud3, .activeCloud4, .activeCloud5, .activeCloud6, .activeCloud7, .activeCloud8 {
  /* border: 1px solid red; */
  transform: translate(0, 20%);
  overflow: hidden;
}

/* before stays, after moves */
.activeCloud1::before, .activeCloud2::before, .activeCloud3::before, .activeCloud4::before, .activeCloud5::before, .activeCloud6::before, .activeCloud7::before, .activeCloud8::before{
  content:"";
  position: absolute;
  top:70%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 50%;   
  height: 10%;
  /* border: 1px solid black; */
  background: url(../pics/green.svg) 0%  no-repeat, url(../pics/green.svg) 25% no-repeat, url(../pics/green.svg) 50% no-repeat, url(../pics/green.svg) 75%  no-repeat, url(../pics/green.svg) 100%  no-repeat;
  background-size: contain, contain, contain, contain, contain;  
}
.activeCloud1::after, .activeCloud2::after, .activeCloud3::after, .activeCloud4::after, .activeCloud5::after,  .activeCloud6::after, .activeCloud7::after, .activeCloud8::after {
  content:"";
  position: absolute;
  top:70%;
  right:25%;
  transform: translateY(-50%);
  width: 50%;   
  height: 10%;
  /* border: 1px solid black; */
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: activeCloud1AfterGoAway;
  animation-delay:0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  /* animation-timing-function: steps(3, end); */
  border-radius: 15px 15px 15px 15px;
}

.activeCloud1::after{
animation-name: activeCloud1AfterGoAway;
}

.activeCloud2::after{
  animation-name: activeCloud2AfterGoAway;
  }
.activeCloud3::after{
animation-name: activeCloud3AfterGoAway;
}

.activeCloud4::after{
  animation-name: activeCloud4AfterGoAway;
}

.activeCloud5::after{
    animation-name: activeCloud5AfterGoAway;
}

.activeCloud6::after{
  animation-name: activeCloud6AfterGoAway;
}

.activeCloud7::after{
  animation-name: activeCloud7AfterGoAway;
}

.activeCloud8::after{
  animation-name: activeCloud8AfterGoAway;
}

.cloudWrap1{  
  left: 1vw;
  animation-delay: 17s;  
}
.cloudWrap2{  
  left: 11vw;
  animation-delay: 17.1s;  
}

.cloudWrap3{  
  left: 21vw;
  animation-delay: 17.2s; 
}

.cloudWrap4{  
  left: 30.5vw;
  top:1vh;
  animation-delay: 17.3s; 
}

.cloudWrap5{  
  top:1vh;
  left: 54vw;
  animation-delay: 17.4s; 
}

.cloudWrap6{  
  left: 64vw;
  animation-delay: 17.5s; 
}

.cloudWrap7{  
  left: 74vw;
  animation-delay: 17.6s; 
}

.cloudWrap8{  
  left: 84vw;
  animation-delay: 17.7s; 
}

.cloudLogoClass1, .cloudLogoClass2, .cloudLogoClass3, .cloudLogoClass4, .cloudLogoClass5, .cloudLogoClass6, .cloudLogoClass7, .cloudLogoClass8 {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);  
   /* border: 2px solid red; */
}

.cloudLogoClass1, .cloudLogoClass2, .cloudLogoClass3, .cloudLogoClass4{
  width: 20%;
  transform: translate(-50%, -50%);
}

.cloudLogoClass2, .cloudLogoClass4 {
  width: 30%;
}

.cloudLogoClass5, .cloudLogoClass6, .cloudLogoClass7{
  width: 40%;
}

.daScroll { 
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  padding-bottom: 10vw;
  width: auto;
  height: 100%;
  background-image: url(../pics/scrollNoBlob.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  font-size: 3vh;
  /* border: 1px solid blue; */
}

.typeWrap {
  display: flex;
  flex-direction: column;
  width: auto;
  /* border: 1px solid black; */
}

.moreBio {
  margin-top: 2vh;
  border: 3px solid rgba(0, 0, 0, 0.3);
  background-color: rgb(205, 50, 50);
  border-radius: 5px;
  padding: 3px 7px;
  color: rgb(209, 212, 8);
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: bold;
  @media screen and (min-width: map-get($breakpoints, md)) {
    &:hover {
      color: black;
      background-color: rgb(197, 245, 102);
      transform: scale(1,1) translate(-5px, -5px);
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  @media screen and (max-width: map-get($breakpoints, sm)) {
    padding: 2px 5px;
    font-size: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  @media screen and (max-width: map-get($breakpoints, xs)) {
    padding: 2px 5px;
  }
}



.arrow {
  transform: scaleX(-1);
  /* height just like font size here */
  height: 2.5vmin;
  margin-right: 5px;
  /* border: 1px solid red; */
}

.contactTextWrap {
  height: auto;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5vmin;  
  justify-content: space-between;
  justify-items: space-between;
  /* border: 1px solid green;  */
  
}


.bioColor {
  color: green;
  font-weight: bold;
} 

.bioColorRed {
  color: red;
  font-weight: bold;
}

.emphasizeBioItem{
  /* display: inline-flex; */
  color: red;
  font-weight: bold;
  /* do not remove white spaces */
  white-space: pre;
}

.bioTextWrap {
  height: auto;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vmin;  
  width: 35vmin;
  /* border: 1px solid green;  */
}

.bioTextTitleClass{
  display: flex;  
  justify-content: center;
  align-self: center;
  width: 100%;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  margin-top: 2vh;
   /* border: 1px solid red; */
}

.bioTextClass{
  /* display: flex; NO*/
  /* needs to be inline in order for span emphasizeBioItem to work inline! */
  display: inline;
  align-self: flex-start;
  /* width: 100%; for links to external websites to  be centered */
  width: 100%;
  /* border: 1px solid blue;  */
}

.tekst1Class, .tekst2Class, .tekst3Class, .tekst4Class, .tekst5Class, .tekst6Class, .tekst7Class, .tekst8Class, .tekst9Class, .tekst10Class {
  /* display: inline-flex; */
  display: flex;  
  position: relative;
  left: -100%;
  padding: 0.5vh 1vw;
  justify-content: center;
  justify-content: center;
  width: auto;
  /* border: 1px solid rgb(117, 0, 128); */
}

.tekst1Class, .tekst3Class, .tekst5Class, .tekst6Class, .tekst7Class {
  left: 50%;
  font-family: 'Coda Caption', sans-serif;
  transform: translateX(-50%);
}

/* .tekst1Class{} */
 
.tekst2Class{  
  left: 50%;
  font-family: 'Caveat', cursive;
  font-size: 3.5vh;
  /* duration, delay,iterations. */
  /* animation: tekst2Animation 15s infinite; */
  animation-name: tekst2Animation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 1s;
  transform: translateX(-50%);
  /* border: 1px solid gray;     */
}

/* .tekst3Class {} */

.tekst4Class{
  /* duration, delay,iterations. */
  animation-name: tekst4AnimationJunior;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 4s;
  left: 50%;
  font-family: 'Anton', sans-serif;
  font-size: 3vh;
  color: rgb(197, 8, 8);
  transform: translateX(-50%) rotate(350deg);
  /* border: 1px solid gray;     */
}
/* .tekst5Class{} */

/* .tekst6Class{} */

.tekst7Class, .tekst8Class, .tekst9Class, .tekst10Class {
  font-family: 'VT323', monospace;
  transform: translateX(-50%);
  left: 50%;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 2.5vh;
}

/* .tekst7Class {} */

/* .tekst8Class {} */

/* .tekst9Class {} */

.tekst10Class{
  padding-bottom: 2vh;
}
  
.innerSpanForCodeAnimationtekst7, .innerSpanForCodeAnimationtekst8, .innerSpanForCodeAnimationtekst9, .innerSpanForCodeAnimationtekst10 {
  /* border: 1px solid blue; */
  overflow:hidden;
  position: relative;
}

.innerSpanForCodeAnimationtekst7::after, .innerSpanForCodeAnimationtekst8::after, .innerSpanForCodeAnimationtekst9::after, .innerSpanForCodeAnimationtekst10::after{
  content:"";
  position: absolute;
  top:0;
  /* left:0;   */
  left:100%;
  width: 100%;   
  height: 100%;
  animation-name: showCodeTekst;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* border: 1px solid yellowgreen; */
}

.innerSpanForCodeAnimationtekst7::after{
/* background-color:#D9D2B8;  */
background-color: rgba(0, 0, 0, 1);
animation-duration: 1.75s;
animation-timing-function: steps(14, end);
animation-delay: 8s;
}

.innerSpanForCodeAnimationtekst8::after{
  background-color: rgba(0, 0, 0, 1);
  animation-duration: 2s;
  animation-timing-function: steps(16, end);
  animation-delay: 10.75s;
}

.innerSpanForCodeAnimationtekst9::after{
  background-color: rgba(0, 0, 0, 1);
  animation-duration: 2.625s;
  animation-timing-function: steps(21, end);
  animation-delay: 13.75s;
}

.innerSpanForCodeAnimationtekst10::after{
  background-color: rgba(0, 0, 0, 1);
  animation-duration: 0.375s;
  animation-timing-function: steps(3, end);
  animation-delay: 16.375s;
}

.baloon1, .baloon2, .baloon3, .baloon4, .baloon5 {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 20s ease-in-out;
  /* border: 1px solid red; */
}

.baloon1 {
  top: 10%;
  left: 10%;
  z-index: 1;
  width: 10vw;
  height: 10vw;
  background-image: url(../pics/baloon1.svg);
  /* border: 1px solid red; */
}

.baloon2 {
  top: 20%;
  left: 70%;
  z-index: 2;
  width: 15vw;
  height: 15vw;
  background-image: url(../pics/baloon2.svg);
  /* border: 1px solid red; */
}

.baloon3 {
  top: 45%;
  left: 30%;
  z-index: 3;
  width: 6vw;
  height: 6vw;
  background-image: url(../pics/baloon3.svg);
  /* border: 1px solid red; */
}

.baloon4 {
  top: 70%;
  left: 80%;
  z-index: 4;
  width: 12vw;
  height: 12vw;
  background-image: url(../pics/baloon4.svg);
  /* border: 1px solid red; */
}
.baloon5 {
  top: 70%;
  left: 5%;
  z-index: 5;
  width: 7vw;
  height: 7vw;
  background-image: url(../pics/baloon5.svg);
  /* border: 1px solid red; */
}

.baloonArea {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  /* border: 1px solid blue; */
}

.animationPaused {
  animation-play-state: paused;
}

@keyframes rotatingLoader {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-360deg) rotateY(360deg);
  }

  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
}




@keyframes tekst2Animation { 
  0% {opacity: 1; left: 50%;}  
  1% {opacity: 0; left: 50%;}  
  10% {opacity: 0; left: -1000px;}  
  100% {opacity: 1; left: 50%;}
}

@keyframes tekst4AnimationJunior { 
  0% {
    font-size: 3vh;
    color: rgb(197, 8, 8);
    transform: translateX(-50%) rotate(350deg);
  }
    
  50% {
    font-size: 3vh;
    color: black;
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    font-size: 3vh;
    color: rgb(197, 8, 8);
    transform: translateX(-50%) rotate(350deg);
  }
}

@keyframes showCodeTekst {
  0%{left:100%;}
  1%{left:0;}
  100%{left:100%;}
}

@keyframes cloudBump {
  0%{top:2vh;}
  50%{top:3vh;}
  100%{top:2vh;}  
}

@keyframes activeCloud1AfterGoAway {
  0%{
    width: 50%;
  }
  100%{
    width: 20%;
  }
}

@keyframes activeCloud2AfterGoAway {
  0%{
    width: 50%;
  }
  100%{
    width: 20%;
  }
}
@keyframes activeCloud3AfterGoAway {
  0%{
    width: 50%;
  }
  100%{
    width: 30%;
  }
}
@keyframes activeCloud4AfterGoAway {
  0%{
    width: 50%;
  }
  100%{
    width: 30%;
  }
}
@keyframes activeCloud5AfterGoAway {
  0%{
    width: 50%;
  }
  100%{
    width: 40%;
  }
}
@keyframes activeCloud6AfterGoAway {
  0%{
    width: 50%;
  }
  100%{
    width: 40%;
  }
}
@keyframes activeCloud7AfterGoAway {
  0%{
    width: 50%;
  }
  100%{
    width: 40%;
  }
}
@keyframes activeCloud8AfterGoAway {
  0%{
    width: 50%;
  }
  100%{
    width: 30%;
  }
}

/* MOBILE BELOW - WHAT WAS THAT?*/
// @media only screen and (max-width: 641px) {
//   .mobileSwipe {
//     display: none;
//   }
// }

